// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;


$bgc-blue: #2c3e50;
$mid-blue: #244564;
$light-blue: #3498db;
$light-grey: #9595a6;
$black-blue: #212529;
$w: #fff;

//budget-colors:
$positive-budget: #6d9f38;
$negetive-budget: #ca481d;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;